html,body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: nunito;
}

body{
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: 300;
}
.flex{
  display: flex;
}
a{
  color: inherit;
  text-decoration: none;
}
body>section{
  flex: .5;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
  line-height: 4;
}

.hero{
  background-color: #000000;
  background-size: cover;
  background-position: center bottom;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 50%;
}
.hero h1{
  font-size: 30px;
}
.logo img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: 10px solid #f2f5f0;
  border-radius: 50%;
}
.hero .logo{
  display: inline-flex;
  align-items: center;
}
.hero h1{
  background-color: #f2f5f0;
  padding: 5px 10px 5px 10px;
  margin-left: -20px;
  line-height: 1;
  text-shadow: -1px -1px 0 #f2f5f0, 1px -1px 0 #f2f5f0, -1px 1px 0 #f2f5f0, 1px 1px 0 #f2f5f0;
  border-radius: 0 15px 15px 0;
}
.hero h1 span{
  font-weight: 400;
}
.hero h4{
  font-weight: 400;
  font-size: 8vw;
  line-height: 1;
  color: #6adc25;
  font-family: Courier, monospace;
  color: #8aad78;
  text-transform: lowercase;  
}
section.info{
  z-index: 999;
  background-color: #f2f5f0;
}
section>article{
  padding: 40px;
}
section.info>article:last-child{
  padding-bottom: 80px;
  background-color: #e4e6e2;
}
section.info h1{
  font-size: 6vw;
  line-height: 1;
  margin-bottom: 40px;
  font-family: anton, sans-serif;
}
.line-sep,
section.info h1::after{
  display: block;
  background-color: black;
  margin-top: 40px;
  height: 5px;
  width: 60px;
  content: '';
}
section.info p {
  font-size: 1.5vw;
  line-height: 1.5;
  color: #424242;
  margin-bottom: 20px;
}
section.info p a{
  font-weight: bold;
}
section.info a:hover{
  text-decoration: underline;
}
section.info .flex{
  /* color: #666; */
  font-size: 85%;
  line-height: 1.5;
}
.poster img {
  width: 200px;
  height: 180px;
  object-fit: cover;
}
section.info h3 {
  color: #000;
  font-size: 90%;
  text-transform: uppercase
}
.flex > * {
  flex: .5;
  padding-right: 10px;
}

.socmed{
  display: flex;
  justify-content: flex-end;
}

.socmed > div {
  margin: 5px;
}

.credit {
  font-size: 65%;
  opacity: .8;
}

.credit a{
  text-decoration: underline;
}

section.info h2 {
  font-size: 4vw;
  line-height: 1;
  margin-bottom: 40px;
  font-family: anton, sans-serif;
}

.qr{
  flex: .5;
}
.qr img{
  box-shadow: 5px 5px 10px #c5c7c3;
}
@media only screen and (max-width: 960px) {    
  .hero{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 40%;
  }
  section.info{
    flex: .6;
  }
  section.info p {
    font-size: 2vw;
  }
}
.flex.link{
  align-items: center;
}



@media only screen and (max-width: 768px) {    
  .hero{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
  }
  section>article {
    padding-left: 20px;
    padding-right: 20px;
  }
  section.info{
    margin-top: 80vh;
    flex: 1;
  }
  section.info h1 {
    font-size: 15vw;
  }
  section.info h2 {
    font-size: 10vw;
  }
  section.info p {
    font-size: 6vw;
  }
  section.info .flex {
    font-size: 90%;
    flex-direction: column;
    margin: 5px 0;
  }
  .flex > * {
    flex: 1;
    padding: 0;
  }
  .socmed{
    justify-content: flex-start;
  }
  .flex.link{
    align-items: flex-start;
  }
  .qr{
    flex: 1;
    margin-bottom: 20px;
  }
  .qr img{
    box-shadow: none;
    width: 100%;
  }

}


/* end of css stylesheet */